.votings {
  display: block;
  h2 {
    display: inline-block;
    margin-right: 2rem;
  }
  .votings--active,.votings--closed {
    margin-top: 1.5rem;
    h3 {
      margin-bottom: 1rem;
    }
  }
}

.voting-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.voting-card {
  padding: 1rem;
  border-radius: 1rem;
  background: lavender;
  box-sizing: border-box;
  .info {
    font-style: italic;
    font-size: 0.8rem;
    color: gray;
  }
}

.li--bold {
  font-weight: bold;
  ::marker {
    font-weight: bold;
  }
}
